@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,400italic,600italic,700italic);
@import url(icomoon.css);
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
body.login{
    background: #efefef;
}
.box-login{
    width: 400px;
    /*height: 300px;*/
    background: #fff;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -150px;
    border-radius: 3px;
    border: 1px solid #999;
}
.box-login img{
    width: 240px;
    display: block;
    margin: 0 auto 30px auto;
}
.box-login form input{
    width: 240px;
    height: 30px;
    border: 1px solid #999;
    border-radius: 3px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    background: #fafafa;
}
.box-login form input[type="submit"],.box-login form input[type="button"]{
    background: #3fb2b8;
    border: 0;
    color: white;    
}

/* PRINCIPAL */

body{
    background: #fff;
}
.bgheader{
    width: 100%;
    height: auto;
    padding: 20px;
    background: #f7f7f7;
    border-bottom: 3px solid #3cc0c2;
    position: fixed;
}
.bgheader header{
    width: 90%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.bgheader header .logo{
    width: 160px;
    height: auto;
    float: left;
}
.bgheader header .logo img{
    width: 100%;
    display: block;
}
.barra-topo{
    float: right;
    padding: 14px 0;
}
.barra-topo .add-post{
    float: left;
}
.barra-topo .hi-user{
    float: left;
    font-style: italic;
    color: #333;
    padding: 8px 0;
    margin: 0 35px;
}
.barra-topo .sair{
    float: right;
}
.barra-topo a{
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    text-transform: uppercase;
    font-size: 16px;
    display: inline-block;
    margin-left: 20px;
}
.barra-topo a i{
    font-size: 14px;
    margin-right: 5px;
}
.cor-principal{
    background: #40b3ba;
}
.cor-apoio{
    background: #ee99b0;
}
.main{
    width: 90%;
    margin: 0 auto;
    padding-top: 130px;
    margin-bottom: 30px;
}
.btn{
    text-decoration: none;
    color: #333;
    background: #c0c0c0;
    font-size: 14px;
    padding: 8px 12px;
    color: #333;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 0;
}
.btn:last-of-type{
    margin-right: 0;
}
.post-all{
    width: 100%;
    height: auto;
}
.post-all .ipost{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #c0c0c0;
}
.post-all .ipost:last-of-type{
    border-bottom: 0;
}
.ipost .imagem{
    width: 30%;
    height: auto;
    text-align: center;
    float: left;
}
.ipost .imagem input[type='file']{
    margin: 5px 0 10px 0;
    width: 100%;
}
.ipost .imagem figure{
    width: 100%;
    /*height: 300px; ALTURA DE TESTE */
    background: black;
    margin-bottom: 5px;
}
.ipost .imagem figure img{
    width: 100%;
    display: block;
}
.ipost .cont-post{
    float: right;
    width: 68%;
    /*    width: -webkit-calc(100% - 300px);
        width: -moz-calc(100% - 300px);
        width: calc(100% - 300px);*/
    /*padding-left: 15px;*/
}
.ipost .cont-post .add-coment textarea{
    width: 100%; 
    height: 40px; 
    resize:vertical; 
    font-size: 14px; 
    padding: 5px;
    margin-bottom: 10px;
}
h2{
    color: #333;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    background: #efefef;
    margin-bottom: 8px;
}
.data{
    font-style: italic;
    font-weight: 600;
    color: #111111;
    font-size: 18px;
}
p{
    margin-bottom: 10px;
    color: #666666;
    font-size: 14px;
}
.comentarios .dt-user{
    display: block;
    font-size: 16px;
    color: #111;
}
.comentarios p{
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #c0c0c0;
}
.comentarios p:last-of-type{
    /*border-bottom: 0;*/
}
.cad-post{
    width: 100%;
}
.cad-post fieldset{
    border: 0;
    margin-bottom: 20px;
}
.cad-post textarea{
    width: 100%;
    height: 100px;
}
.cad-post fieldset input{
    /*height: 30px;*/
}
.cad-post input[type="submit"]{
    border: 0;
    background: #40b3ba;
    background: #c0c0c0;
    color: #333;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0;
    font-size: 14px;
    padding: 6px 12px;
}
.cad-post input[type="button"]{
    border: 0;
    background: #40b3ba;
    background: #c0c0c0;
    color: #333;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0;
    font-size: 14px;
    padding: 6px 12px;
}
.cad-post input, .cad-post textarea{
    font-size: 14px;
    padding: 5px;
}

.edi-post{
    width: 100%;
    overflow: hidden;
}
.edi-post fieldset{
    border: 0;
    margin-bottom: 20px;
}
.edi-post textarea{
    width: 100%;
    height: 100px;
}
.edi-post fieldset input{
    /*height: 30px;*/
}
.edi-post input[type="submit"]{
    border: 0;
    background: #40b3ba;
    background: #c0c0c0;
    color: #333;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0;
    font-size: 14px;
    padding: 6px 12px;
}
.edi-post input[type="button"]{
    border: 0;
    background: #40b3ba;
    background: #c0c0c0;
    color: #333;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0;
    font-size: 14px;
    padding: 6px 12px;
}
.edi-post input, .edi-post textarea{
    font-size: 14px;
    padding: 5px;
}
.edi-post fieldset.fl figure{
    width: 100%;
    height: auto;
    /*min-height: 300px; ALTURA DE TESTE */
    background: #000;
    float: left;
}
.edi-post fieldset figure img{
    width: 100%;
    display: block;
}
.edi-post fieldset.fl{
    width: 30%;
    float: left;
}
.edi-post fieldset.fl input[type="file"]{
    width: 100%;
}
.edi-post fieldset.fr{
    width: 68%;
    float: right;
}
.fixo{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}
.fixo:hover{
    opacity: 1;
}
#backtop{
    /*    position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 999;*/
}
#backtop span {
    width: 42px;
    height: 26px;
    display: block;
    background: url(../img/up.png) no-repeat left 0px;
    cursor: pointer;
}
#backtop span:hover {
    background-position: left bottom;
}

.btn.aprovar{
    background: #2fa155!important;
    color: #fff!important;    
}
.btn.aprovado{
    background: none!important;  
    color: #2fa155!important;
    /*padding: 8px 0px;*/
    display: inline-block
}

@media screen and (max-width: 420px){
    .box-login{
        width: 90%;
        height: 300px;
        background: #fff;
        padding: 30px;
        border-radius: 3px;
        border: 1px solid #999;
        margin: 0 auto;
        position: relative;
        top: 20px;
        left: 0;
    }
    .box-login img{
        width: 90%;
        display: block;
        margin: 0 auto 30px auto;
    }
    .box-login form input{
        width: 100%;
        height: 30px;
        border: 1px solid #999;
        border-radius: 3px;
        margin: 0 auto 10px auto;
        display: block;
        text-align: center;
        background: #fafafa;
    }
    .box-login form input[type="submit"],.box-login form input[type="button"]{
        background: #3fb2b8;
        border: 0;
        color: white;    
    }
}
@media screen and (max-width: 820px){
    .bgheader{
        width: 100%;
        height: auto;
        padding: 10px;
        background: #f7f7f7;
        border-bottom: 3px solid #3cc0c2;
        position: fixed;
    }
    .bgheader header{
        width: 90%;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
    }
    .bgheader header .logo{
        width: 140px;
        height: auto;
        float: left;
    }
    .bgheader header .logo img{
        width: 100%;
        display: block;
    }
    .barra-topo{
        float: right;
        padding: 14px 0;
    }
    .barra-topo .add-post{
        float: left;
    }
    .barra-topo .hi-user{
        display: none;
    }
    .barra-topo .sair{
        float: right;
    }
    .barra-topo a{
        text-decoration: none;
        color: #fff;
        padding: 8px 8px;
        text-transform: uppercase;
        font-size: 16px;
        display: inline-block;
        margin-left: 10px;
    }
    .barra-topo a i{
        font-size: 16px;
        margin-right: 0px;
    }
    .barra-topo a span{
        display: none;
    }
}
@media screen and (max-width: 574px){
    .main{
        padding-top: 100px;
    }
    .ipost .imagem{
        width: 60%;
        height: auto;
        text-align: center;
        float: none;
        margin: 0 auto;
    }
    .ipost .imagem input[type='file']{
        margin: 5px 0 10px 0;
        width: 100%;
    }
    .ipost .imagem figure{
        width: 100%;
        background: black;
        margin-bottom: 5px;
    }
    .ipost .imagem figure img{
        width: 100%;
        display: block;
    }
    .ipost .cont-post{
        float: none;
        width: 100%;
    }
    .ipost .cont-post .add-coment textarea{
        width: 100%; 
        height: 40px; 
        resize:vertical; 
        font-size: 14px; 
        padding: 5px;
        margin-bottom: 10px;
    } 
    .edi-post{
        width: 100%;
        overflow: hidden;
    }
    .edi-post fieldset{
        border: 0;
        margin-bottom: 20px;
    }
    .edi-post textarea{
        width: 100%;
        height: 100px;
    }
    .edi-post fieldset input{
        /*height: 30px;*/
    }
    .edi-post input[type="submit"],.edi-post input[type="button"]{
        border: 0;
        background: #40b3ba;
        background: #c0c0c0;
        color: #333;
        text-transform: uppercase;
        font-weight: normal;
        padding: 0;
        font-size: 14px;
        padding: 6px 12px;
    }
    .edi-post input, .edi-post textarea{
        font-size: 14px;
        padding: 5px;
    }
    .edi-post fieldset.fl figure{
        width: 60%;
        height: auto;
        /*min-height: 300px; ALTURA DE TESTE */
        background: #000;
        float: none;
        margin: 0 auto;
    }
    .edi-post fieldset figure img{
        width: 100%;
        display: block;
    }
    .edi-post fieldset.fl{
        width: 100%;
        float: none;
    }
    .edi-post fieldset.fl input[type="file"]{
        width: 100%;
    }
    .edi-post fieldset.fr{
        width: 100%;
        float: right;
    }
}
@media screen and (max-width: 320px){
    .main{
        padding-top: 100px;
    }
    .ipost .imagem{
        width: 90%;
        height: auto;
        text-align: center;
        float: none;
        margin: 0 auto;
    }
    .ipost .imagem input[type='file']{
        margin: 5px 0 10px 0;
        width: 100%;
    }
    .ipost .imagem figure{
        width: 100%;
        background: black;
        margin-bottom: 5px;
    }
    .ipost .imagem figure img{
        width: 100%;
        display: block;
    }
}